name: retinamnist_const
hyperparameters:
    global_batch_size: 128
    data_flag: retinamnist
    lr: 0.001
    weight_decay:
        type: log
        base: 10
        minval: -4
        maxval: -1
    gamma: 0.1
# data:
#   url: https://medmnist-pathmnist.s3.us-east-2.amazonaws.com/pathmnist.npz
min_validation_period:
    epochs: 1
records_per_epoch: 1080 
searcher:
    name: adaptive_asha
    metric: test_loss
    smaller_is_better: true
    max_length: 
      epochs: 15
    max_trials: 16
    mode: aggressive
resources:
    slots_per_trial: 2
entrypoint: model_def:MyMEDMnistTrial
max_restarts: 0


